<div class="<%= get_post_class(post, context) %>">
	<% if ('title' in post.meta && ! post.meta.title.match(/\d{4}-\d{2}-\d{2}/)) { %>
		<h1><a href="<%= get_href(post) %>"><%- post.meta.title %></a></h1>
	<% } %>
	<div class="grid">
		<div class="meta">
			<% if ('tags' in post.meta) { %>
				<ul class="tags">
					<% for (let tag of post.meta.tags) { %>
						<li><a href="/tags/<%= tag.slug %>"><%= tag.name %></a></li>
					<% } %>
				</ul>
			<% } %>
		</div>
		<div class="content">
			<%- get_content(post, context) %>
			<div class="byline">
				<a href="<%= get_path(post) %>" class="permalink" title="Posted at <%= post.meta.time_formatted %>"><%= post.meta.date_formatted %></a>
				<% if ('categories' in post.meta) { %>
					in
					<% for (let category of post.meta.categories) { %>
						<a href="/<%= category.slug %>"><%= category.name %></a>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
</div>
